.tbl-bg{
    background-image: url("../../public/bg-terbaru.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    width: auto;
    padding: 30px;
}

.tbl-competition {
    background-color: #FFAB00;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    margin: 60px;
    padding: 30px;
    padding-bottom: 200px;
    border-radius: 30px;
    overflow-x: auto;

}

table th {
    font-weight: bold;
    padding: 12px;
    text-align: center;
}
table td {
    padding: 12px;
    text-align: left;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 20px;
  }

tr:first-child {
    background-color: rgb(255, 210, 138); /* Warna yang Anda inginkan */
}


.ket-table tr:nth-child(1) td:nth-child(1) {
    background-color: rgb(50, 245, 242);
}
.ket-table tr:nth-child(2) td:nth-child(1) {
    background-color: rgb(6, 246, 6);
}
.tanding-bronze{
    background-color: rgb(97, 255, 97);
}
.tanding-bronze-vs{
    background-color: rgb(255, 0, 0);
}
.tanding-bronze-skor{
    background-color: rgb(255, 0, 0);
}
.tanding-bronze-win{
    background-color: rgb(205, 127, 50);
}
.tanding-bronze-final{
    background-color: rgb(255, 215, 0);
}

.final-1{
    background-color: rgb(255, 215, 0);
}
.final-2{
    background-color: rgb(192, 192, 192);
}
.final-3{
    background-color: rgb(205, 127, 50);
}
.skor-modern-dance {
    border-collapse: collapse;
  }
  
  /* Warna latar belakang baris ganjil */
  .skor-modern-dance tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  /* Warna latar belakang baris genap */
  .skor-modern-dance tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  


@media screen and (max-width: 600px) {
    .tbl-competition {
        margin: 10px; /* Ubah margin agar sesuai dengan tampilan pada layar kecil */
        padding-bottom: 10px; /* Ubah padding-bottom agar sesuai dengan tampilan pada layar kecil */
    }
    table th {
        font-size: 14px;
    }
    table td {
        font-size: 14px;
    }
}