.Time-box {
  /* background-image: url("../public/IMG_0543.jpg"); */
  background-image: url(../public/minimal-landscape-sunrise-4k-jy-1920x1080.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: auto;
}

.box {
  /* background-color: rgb(209, 52, 233); */
  width: 25%; /* Mengatur lebar box sesuai kebutuhan */
  height: 10vh;
  margin: auto; /* Menengahkan box secara horizontal */
  display: flex; /* Menggunakan flexbox */
  justify-content: center; /* Menengahkan isi secara horizontal */
  align-items: center; /* Menengahkan isi secara vertikal */
  /* border-radius: 80px;
  backdrop-filter: blur(10px); */
  padding: 20px;
}

.my-container {
  display: flex;
  align-items: left;
  padding: 20px;
  background-color: #e062fc;
}

.my-heading {
  font-family: "poppins";
  src: url(./Bungee.ttf) format("truetype");
  font-size: 2.5rem;
  color: white;
  margin-top: 0;
  justify-content: space-between;
  text-align: center;
  animation: fadeIn 2s ease forwards;
}

.my-paragraph {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;

  filter: blur();
  justify-content: space-between;
  text-align: center;
  color: #ffffff;
  animation: easeInAnimation 1s ease-in forwards;
}

.Card-app {
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes easeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
